<div class="container-grip">
  <div class="result">
    {{(currentNumber$ | async)?.currentNumber ??0}}
    <br/>
    {{(currentNumber$ | async)?.previousNumber ??0}}
    <br/>
    {{(currentNumber$ | async)?.result ?? 0}}
  </div>
  <div class="calculate">
    <div class="number">
      <button class="btn" (click)="enterKey('7','number')">7</button>
      <button class="btn" (click)="enterKey('8','number')">8</button>
      <button class="btn"  (click)="enterKey('9','number')">9</button>
      <button class="btn"  (click)="enterKey('4','number')">4</button>
      <button class="btn"  (click)="enterKey('5','number')">5</button>
      <button class="btn"  (click)="enterKey('6','number')">6</button>
      <button class="btn" (click)="enterKey('1','number')">1</button>
      <button class="btn"  (click)="enterKey('2','number')">2</button>
      <button class="btn"  (click)="enterKey('3','number')">3</button>
      <button class="btn" (click)="enterKey('0','number')">0</button>
      <button class="btn"  (click)="enterKey('.','operator')">.</button>
    </div>

    <div class="operation">
      <button class="btn" (click)="enterKey('DEL','operator')" >DEL</button>
      <button class="btn" (click)="enterKey('AC','operator')">AC</button>
      <button class="btn"(click)="enterKey('*','operator')">*</button>
      <button class="btn"(click)="enterKey('/','operator')">/</button>
      <button class="btn" (click)="enterKey('+','operator')">+</button>
      <button class="btn" (click)="enterKey('-','operator')">-</button>
      <button class="btn" (click)="enterKey('=','operator')">=</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>